.form-container {
background-color: beige;
width: 60%;
border-radius: 3%;
border: 5px;
border-color: black;
margin-top: 6%;
}
.form-label {
    font-weight: 600;
    font-style: italic;
    margin-top: 1%;
}
.form-select {
    border-radius: 2%;
}